body{
    background-color:black;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.links{
    background-color:black;
    width: 100%;
     font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.magin-top{
    margin-top: 30px;
    
}
.link{
    background-color: black;
    margin: 30px;
    display:inline;
    
}
.column{
    
    width: 33.33%;
    

}

.row{
    
    display: flex;
}

div{
max-width: 800px;
margin: auto;
} 

.table{
    width: 100%;
    text-align: left;
    color: goldenrod;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a:link{
color: goldenrod;
}

a:visited{
color:goldenrod;
}

.marquee{
    color: goldenrod; 
    margin-top: 15px;  
    margin-bottom: 15px;
}

.w3-content{
    position: relative;

}

.w3-section{
display: flex;
    justify-content: space-between;


}
.w3-button-prev{
    position: absolute;
    top: 50%;
    left: -43px;
    
}

.w3-button-next{

position: absolute;
    right: -43px;
    top: 50%;
}

.form{
background-color:white;
margin-top: 20px;
margin-bottom: 20px;
font-size: xx-large;
border: 2px;
border-color: black;
}


table{
    width: 100%;
}
